name: reviewdog

on: [pull_request]

jobs:
  textlint:
    name: runner / textlint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile
      - name: install reviewdog
        run: |
          curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s  v0.9.13
      - name: textlint
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ github.token }}
        run: $(npm bin)/textlint -f checkstyle | ./bin/reviewdog -f=checkstyle -name=textlint -reporter=github-pr-review
